<div>
    <h2 class="header"> EMI Calculator </h2>
    <mat-card>
        <mat-card-content>

            <form (ngSubmit)="calculateEMI()" name="EMICalculationForm" [formGroup]="EMICalculationForm" >
                <div>
                    <mat-form-field>
                        <mat-label for="loanAmount"> Loan Amount </mat-label>
                        <input matInput type="number" id="loanAmount" name="loanAmount" formControlName="loanAmount" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label for="interestRate"> Interest Rate </mat-label>
                        <input matInput type="number" id="interestRate" name="interestRate" formControlName="interestRate" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label for="loanTenure"> Loan Tenure </mat-label>
                        <input matInput type="number" id="loanTenure" name="loanTenure" formControlName="loanTenure" />
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button color="primary" type="submit" id="button"> Get EMI </button>
                </div>
            </form>
        </mat-card-content>
        <div *ngIf="emi">
            <h3>Output</h3>
            <ul>
              <li>Loan EMI: {{ emi }}</li>
              <li>Total Interest Payable: {{ totalInterest }}</li>
              <li>Total Payment (Principal + Interest): {{ totalPayment }}</li>
            </ul>
        </div>
    </mat-card>
</div>




  <table *ngIf="emi" style="width:100%">
    <thead>
      <tr>
        <th>Month - Year</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Total Payment (P+I)</th>
        <th> Balance </th>
        <th> Loan Paid To Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{ row.date }}</td>
        <td>{{ row.principal }}</td>
        <td>{{ row.interest }}</td>
        <td>{{ row.total }}</td>
        <td>{{ row.balance }}</td>
        <td>{{ row.paidToDate }}</td>
      </tr>
    </tbody>
  </table>



